{% extends 'base.html' %}
{% block content %}
      <br/>
    <h1>Volunteers</h1>
      <br/>
    <table class="table table-bordered">
        <thead class="table thead-dark">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email Address</th>
            <th scope="col">Date Joined</th>
            <th scope="col">Contact</th>
        </tr>
        </thead>
        <tbody>
        {% for u in volunteers %}
                    <tr class="table table-hover">
                        <td>{{ u.username }}</td>
                        <td>{{ u.email }}</td>
                        <td>{{ u.date_joined }}</td>
                        <td><a href="{% url 'contact_volunteer' u.id %}"><i class="fas fa-paper-plane"></i></a></td>
                    </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}